.circular_progress {
  --bgColor: white;
  --stroke: pink;
  --progress: 0;
}

@property --progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@keyframes circle-progress {
  to {
    --progress-value: var(--progress);
  }
}

.circular_progress {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      closest-side,
      var(--bgColor) 79%,
      transparent 80% 100%
    ),
    conic-gradient(
      var(--stroke) calc(var(--progress-value) * 1%),
      var(--bgColor) 0
    );
  animation: circle-progress 10s 1 forwards;
}
